WindowsFormsApp1/Web References/CREA_PEDIDO/CreacionPedidoVentas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.minutoverde.cl/CreacionPedidoVentas/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.minutoverde.cl/CreacionPedidoVentas/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:UsingPolicy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" required="true" />
  <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" wsu:Id="BN__binding">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <wsp:ExactlyOne>
                      <sp:HttpBasicAuthentication />
                      <sp:RequireClientCertificate />
                    </wsp:ExactlyOne>
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <wsp:ExactlyOne>
                  <sp:Basic256 />
                  <sp:Basic192 />
                  <sp:Basic128 />
                  <sp:TripleDes />
                  <sp:Basic256Rsa15 />
                  <sp:Basic192Rsa15 />
                  <sp:Basic128Rsa15 />
                  <sp:TripleDesRsa15 />
                  <sp:Basic256Sha256 />
                  <sp:Basic192Sha256 />
                  <sp:Basic128Sha256 />
                  <sp:TripleDesSha256 />
                  <sp:Basic256Sha256Rsa15 />
                  <sp:Basic192Sha256Rsa15 />
                  <sp:Basic128Sha256Rsa15 />
                  <sp:TripleDesSha256Rsa15 />
                </wsp:ExactlyOne>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.minutoverde.cl/CreacionPedidoVentas/">
      <xsd:element name="ZMMF_DO_VA01">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="WA_DATOS">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="ORIGEN" type="xsd:string" />
                  <xsd:element name="EMPID" type="xsd:string" />
                  <xsd:element name="DESTINATARIO" type="xsd:string" />
                  <xsd:element name="FOLIOGP" type="xsd:string" />
                  <xsd:element name="FECHAGEN" type="xsd:string" />
                  <xsd:element name="FECHAREQ" type="xsd:string" />
                  <xsd:element name="VENDEDOR" type="xsd:string" />
                  <xsd:element name="OBS1" type="xsd:string" />
                  <xsd:element name="OBS2" type="xsd:string" />
                  <xsd:element name="ESTADO" type="xsd:string" />
                  <xsd:element name="NRODOCREL" type="xsd:string" />
                  <xsd:element name="NROREFERENCIA" type="xsd:string" />
                  <xsd:element name="FECHADIG" type="xsd:string" />
                  <xsd:element name="DESCTOCAB" type="xsd:string" />
                  <xsd:element name="LPRECIO" type="xsd:string" />
                  <xsd:element name="ITEMS">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="unbounded" name="item">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="LINEA" type="xsd:string" />
                              <xsd:element name="CODIGOARTICULO" type="xsd:string" />
                              <xsd:element name="CANTIDAD" type="xsd:string" />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZMMF_DO_VA01Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="WE_RESULT">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="COUNT" type="xsd:string" />
                  <xsd:element name="RESULTADO" type="xsd:string" />
                  <xsd:element name="RESULTADO_DES" type="xsd:string" />
                  <xsd:element name="RESULTADO_CODIGO" type="xsd:string" />
                  <xsd:element name="NROPEDIDOERP" type="xsd:string" />
                  <xsd:element name="ESTADOPEDIDOERP" type="xsd:string" />
                  <xsd:element name="OBSERVACIONES" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZMMF_DO_VA01Response">
    <wsdl:part name="parameters" element="tns:ZMMF_DO_VA01Response" />
  </wsdl:message>
  <wsdl:message name="ZMMF_DO_VA01Request">
    <wsdl:part name="parameters" element="tns:ZMMF_DO_VA01" />
  </wsdl:message>
  <wsdl:portType name="ZMMF_DO_VA01">
    <wsdl:operation name="ZMMF_DO_VA01">
      <wsdl:input message="tns:ZMMF_DO_VA01Request" />
      <wsdl:output message="tns:ZMMF_DO_VA01Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZMMF_DO_VA01SOAP" type="tns:ZMMF_DO_VA01">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
      <wsp:PolicyReference URI="#BN__binding" />
    </wsp:Policy>
    <wsdl:operation name="ZMMF_DO_VA01">
      <soap:operation soapAction="http://www.minutosverde.cl/ZMMF_DO_VA01/ZMMF_DO_VA01" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZMMF_DO_VA01">
    <wsdl:port name="ZMMF_DO_VA01SOAP" binding="tns:ZMMF_DO_VA01SOAP">
      <soap:address location="http://alifrutcpiprd.it-cpi019-rt.cfapps.us10-002.hana.ondemand.com/cxf/QAS/GetPoint/CreacionPedidoVentas" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>