WindowsFormsApp1/Web References/ZWSSD_GENERAR_PEDIDO/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_BN_binding">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sp:HttpBasicAuthentication />
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128Rsa15 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN_BN_binding_SOAP12">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sp:HttpBasicAuthentication />
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128Rsa15 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_IF_ZWSSD_GENERAR_PEDIDO">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>6091F1A0E617D474E1008001C0A8461E</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_IF_OP_ZMMF_DO_VA01">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char25">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="25" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char250">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="250" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char500">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="500" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="cuky5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZMMS_ORDERS">
        <xsd:sequence>
          <xsd:element name="ORIGEN" type="tns:char20" />
          <xsd:element name="EMPID" type="xsd:int" />
          <xsd:element name="DESTINATARIO" type="tns:char10" />
          <xsd:element name="FOLIOGP" type="tns:char16" />
          <xsd:element name="FECHAGEN" type="tns:char8" />
          <xsd:element name="FECHAREQ" type="tns:char8" />
          <xsd:element name="VENDEDOR" type="tns:char10" />
          <xsd:element name="OBS1" type="tns:char250" />
          <xsd:element name="OBS2" type="tns:char250" />
          <xsd:element name="ESTADO" type="tns:char30" />
          <xsd:element name="NRODOCREL" type="tns:char25" />
          <xsd:element name="NROREFERENCIA" type="tns:char25" />
          <xsd:element name="FECHADIG" type="tns:char8" />
          <xsd:element name="DESCTOCAB" type="tns:cuky5" />
          <xsd:element name="LPRECIO" type="tns:char2" />
          <xsd:element name="ITEMS" type="tns:ZMMTT_ITEMS_ORDERS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZMMS_ITEMS_ORDERS">
        <xsd:sequence>
          <xsd:element name="LINEA" type="tns:numeric6" />
          <xsd:element name="CODIGOARTICULO" type="tns:char18" />
          <xsd:element name="CANTIDAD" type="tns:quantum13.3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZMMS_RESULT_ORD">
        <xsd:sequence>
          <xsd:element name="COUNT" type="xsd:int" />
          <xsd:element name="RESULTADO" type="tns:char10" />
          <xsd:element name="RESULTADO_DES" type="tns:char500" />
          <xsd:element name="RESULTADO_CODIGO" type="xsd:int" />
          <xsd:element name="NROPEDIDOERP" type="tns:char10" />
          <xsd:element name="ESTADOPEDIDOERP" type="tns:char30" />
          <xsd:element name="OBSERVACIONES" type="tns:char250" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZMMTT_ITEMS_ORDERS">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZMMS_ITEMS_ORDERS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZMMF_DO_VA01">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="WA_DATOS" type="tns:ZMMS_ORDERS" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZMMF_DO_VA01Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="WE_RESULT" type="tns:ZMMS_RESULT_ORD" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZMMF_DO_VA01">
    <wsdl:part name="parameters" element="tns:ZMMF_DO_VA01" />
  </wsdl:message>
  <wsdl:message name="ZMMF_DO_VA01Response">
    <wsdl:part name="parameter" element="tns:ZMMF_DO_VA01Response" />
  </wsdl:message>
  <wsdl:portType name="ZWSSD_GENERAR_PEDIDO">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_IF_ZWSSD_GENERAR_PEDIDO" />
    </wsp:Policy>
    <wsdl:operation name="ZMMF_DO_VA01">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_IF_OP_ZMMF_DO_VA01" />
      </wsp:Policy>
      <wsdl:input message="tns:ZMMF_DO_VA01" />
      <wsdl:output message="tns:ZMMF_DO_VA01Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="binding" type="tns:ZWSSD_GENERAR_PEDIDO">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_binding" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZMMF_DO_VA01">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="binding_SOAP12" type="tns:ZWSSD_GENERAR_PEDIDO">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_binding_SOAP12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZMMF_DO_VA01">
      <wsoap12:operation soapAction="" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="binding" binding="tns:binding">
      <soap:address location="http://sapqasp9.ayf.local:8000/sap/bc/srt/scs/sap/zwssd_generar_pedido?sap-client=310" />
    </wsdl:port>
    <wsdl:port name="binding_SOAP12" binding="tns:binding_SOAP12">
      <wsoap12:address location="http://sapqasp9.ayf.local:8000/sap/bc/srt/scs/sap/zwssd_generar_pedido?sap-client=310" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>