WindowsFormsApp1/Web References/local.ayf.sapqasp9/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_BN_binding">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sp:HttpBasicAuthentication />
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128Rsa15 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN_BN_binding_SOAP12">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sp:HttpBasicAuthentication />
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128Rsa15 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_IF_ZWSMM_OBTENER_PRODUCTOS">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>6091F1A0E617D474E1008001C0A8461E</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_IF_OP_ZmmfObtenerProductos">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char250">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="250" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char500">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="500" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal23.4">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="23" />
          <xsd:fractionDigits value="4" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="ZmmsGetProducts">
        <xsd:sequence>
          <xsd:element name="Count" type="xsd:int" />
          <xsd:element name="Resultado" type="n0:char10" />
          <xsd:element name="ResultadoDes" type="n0:char500" />
          <xsd:element name="ResultadoCodigo" type="xsd:int" />
          <xsd:element name="Limit" type="xsd:int" />
          <xsd:element name="Rowset" type="xsd:int" />
          <xsd:element name="Items" type="tns:ZmmttGetItemsProducts" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZmmsGetItemsProducts">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:int" />
          <xsd:element name="Origen" type="n0:char20" />
          <xsd:element name="Empid" type="xsd:int" />
          <xsd:element name="Codigoarticulo" type="n0:char18" />
          <xsd:element name="Descripart" type="n0:char50" />
          <xsd:element name="Descriptecnica" type="n0:char250" />
          <xsd:element name="Descripcorta" type="n0:char30" />
          <xsd:element name="Unidadmedida" type="n0:char10" />
          <xsd:element name="Lineaproducto" type="n0:char50" />
          <xsd:element name="Tipomodelo" type="n0:char20" />
          <xsd:element name="Version" type="n0:char20" />
          <xsd:element name="Origen1" type="n0:char20" />
          <xsd:element name="Rotacion" type="n0:char20" />
          <xsd:element name="Codigofabrica" type="n0:char20" />
          <xsd:element name="Marca" type="n0:char20" />
          <xsd:element name="Tipo" type="xsd:int" />
          <xsd:element name="Usaserie" type="xsd:int" />
          <xsd:element name="Unidadesempaque" type="n0:char10" />
          <xsd:element name="Ean13" type="n0:char18" />
          <xsd:element name="Dun14" type="n0:char18" />
          <xsd:element name="Vigenciadesde" type="n0:char8" />
          <xsd:element name="Vigenciahasta" type="n0:char8" />
          <xsd:element name="Unidadmedidacompra" type="n0:char20" />
          <xsd:element name="Unidadmedidaventa" type="n0:char20" />
          <xsd:element name="Codigoproveedor" type="n0:char20" />
          <xsd:element name="Bodegadefecto" type="xsd:int" />
          <xsd:element name="Ubicaciondefecto" type="n0:char20" />
          <xsd:element name="Ila" type="xsd:int" />
          <xsd:element name="Dato1" type="n0:char250" />
          <xsd:element name="Dato2" type="n0:char250" />
          <xsd:element name="Pesoneto" type="n0:decimal23.4" />
          <xsd:element name="Bloqueomaterial" type="n0:char20" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZmmttGetItemsProducts">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZmmsGetItemsProducts" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZmmfObtenerProductos">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="PFechaultimadescarga" type="n0:char15" />
            <xsd:element minOccurs="0" name="PLimit" type="xsd:int" />
            <xsd:element minOccurs="0" name="PRowset" type="xsd:int" />
            <xsd:element name="PTipodescarga" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZmmfObtenerProductosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="WeProducts" type="tns:ZmmsGetProducts" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZmmfObtenerProductos">
    <wsdl:part name="parameters" element="tns:ZmmfObtenerProductos" />
  </wsdl:message>
  <wsdl:message name="ZmmfObtenerProductosResponse">
    <wsdl:part name="parameter" element="tns:ZmmfObtenerProductosResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWSMM_OBTENER_PRODUCTOS">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_IF_ZWSMM_OBTENER_PRODUCTOS" />
    </wsp:Policy>
    <wsdl:operation name="ZmmfObtenerProductos">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_IF_OP_ZmmfObtenerProductos" />
      </wsp:Policy>
      <wsdl:input message="tns:ZmmfObtenerProductos" />
      <wsdl:output message="tns:ZmmfObtenerProductosResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="binding" type="tns:ZWSMM_OBTENER_PRODUCTOS">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_binding" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZmmfObtenerProductos">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="binding_SOAP12" type="tns:ZWSMM_OBTENER_PRODUCTOS">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_binding_SOAP12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZmmfObtenerProductos">
      <wsoap12:operation soapAction="" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="binding" binding="tns:binding">
      <soap:address location="http://sapqasp9.ayf.local:8000/sap/bc/srt/scs/sap/zwsmm_obtener_productos?sap-client=310" />
    </wsdl:port>
    <wsdl:port name="binding_SOAP12" binding="tns:binding_SOAP12">
      <wsoap12:address location="http://sapqasp9.ayf.local:8000/sap/bc/srt/scs/sap/zwsmm_obtener_productos?sap-client=310" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>